.expenses {
    padding: 1rem;
    background-color: rgb(31, 31, 31);
    margin: 2rem auto;
    width: 50rem;
    max-width: 95%;
}

.no-data-msg {
    font-size: 16px;
    font-weight: 600;
    color: red;
}